<!-- Site footer -->
<!-- Get In Touch Section Begin -->
<div class="gettouch-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-map-marker"></i>
                    <a target="_blank" href="https://www.google.com/maps/place/Elbaja+Boxing+Academy/@47.3670309,0.7124399,15z/data=!4m5!3m4!1s0x0:0xb3d72700d88f4afb!8m2!3d47.3670309!4d0.7124399">
                    <p>Elbaja Boxing Academy<br/>Allée Monteverdi<br/>37200 Tours</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-mobile"></i>
                    <ul>
                        <li class="footer-phone"><a href="tel:+33635390490">06.35.39.04.90</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text email">
                    <i class="fa fa-envelope"></i>
                    <p>elbaja.nedjid@gmx.fr</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Get In Touch Section End -->
<footer class="site-footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-6 text-justify">
                <h6>A propos de nous</h6>
                <p>La salle de boxe Jean-Guérard, dans le quartier des Fontaines, vient de faire peau neuve après des travaux d’agrandissement et une refonte complète. Elle propose de nouvelles activités et rencontre un nouveau public.</p>
            </div>
           
            <div class="col-xs-6 col-md-3">
                <h6>Liens</h6>
                <ul class="footer-links">
                    <li><a href="{{ path('mentionlegale_index') }}">Mentions légales</a></li>
                    <li><a href="#">Données personnelles</a></li>
                    <li><a href="{{ path('press_index') }}">Espace presse</a></li>
                    <li><a href="{{ path('contact_index') }}">Recrutement</a></li>
                    <li><a href="#">Revenir en haut</a></li>
                </ul>
            </div>
            <div class="container">
                    <a href="https://www.tours.fr/" target="_blank"><img src="{{ asset('build/logo/logoTours.png') }}" class="img-fluid" width="150" height="150"  alt="Logo ville de Tours"/></a>
                    <a href="https://www.touraine.fr/accueil.html/" target="_blank"><img src="{{ asset('build/logo/logo_touraine.png') }}" class="img-fluid" width="150" height="150"  alt="Logo département 37"/></a>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text"> Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Réalisé avec <i class="fa fa-heart" aria-hidden="true"></i> par la <a href="https://www.wildcodeschool.com/fr-FR" target="_blank">Wild Code School</a>
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="https://fr-fr.facebook.com/ElBajaboxingAcademy/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
