{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}
    <section class="project_page_show">
        <div class="project_card card">
        {% if project.poster is not empty %}
            <img class="project_show_image card-img-top" src="{{ asset ('/images/' ~ project.poster.slug) }}" alt="Image du projet">
        {% endif %}
            <div class="project_show_card card-body">
                <h5 class="project_show_card_title card-title">{{ project.name }}</h5>
                <p class="project_show_card_text card-text">{{ project.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Date de début : {{ project.dateStart ? project.dateStart|date('d-m-Y') : '' }}</li>
                <li class="list-group-item">Date de fin : {{ project.dateEnd ? project.dateEnd|date('d-m-Y') : '' }}</li>
            </ul>
            <div class="project_show_card card-body">
                {% if app.user %}
                <a class="btn btn-warning" href="{{ path('project_edit', {'id': project.id}) }}">Modifier</a>
                {% endif %}
                {% if app.user %}
                {{ include('project/_delete_form.html.twig') }}
                {% endif %}
                <a class="btn btn-success" href="{{ path('project_index') }}">Retour</a>
            </div>
        </div>
    </section>
{% endblock %}
